body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden !important;
}

main {
  flex: 1 0 auto;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

input::placeholder {
  color: #000000;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Comfortaa', cursive;
  background: linear-gradient(180deg, #20232A 0%, #611F3F 343.7%);
  scroll-behavior: smooth;
}
