.box1 {
  box-shadow:
  0 0 20px #FFFFFF,
  -5px 0 20px #0172fd,
  10px 0 20px #611F3F;
}

.box1:hover {
  animation-name: boxShadow1;
  animation-duration: .8s;
}

@keyframes boxShadow1 {
  0%   { box-shadow:
    0 0 20px #FFFFFF,           
    -5px 0 20px #0172fd,      
    10px 0 20px #611F3F; }
  33%  { box-shadow:
    0 0 20px #611F3F,           
    -5px 0 20px #FFFFFF,     
    10px 0 20px #0172fd; }
  66%  { box-shadow:
    0 0 20px #0172fd,           
    -5px 0 20px #611F3F,       
    10px 0 20px #FFFFFF; }
  100%  { box-shadow:
    0 0 20px #FFFFFF,           
    -5px 0 20px #0172fd,      
    10px 0 20px #611F3F; }
}

